<div class="container">
    <h4>Selections</h4>
    {{#each selections}}
    <div class="user-bubble">
        <div class="row">
            <div class="span1">
                <img class="user-pic" src="{{user.pic}}" alt="No profile picture"/>
            </div>
            <div class="span3 text-caption">
                <span class="label label-info">Notice</span>

                <div>{{description}}</div>
            </div>
        </div>
    </div>
    {{/each}}
</div>